/*!
Theme Name: AM Jenton
Theme URI:
Author: Master & Mouse
Author URI: http://masterandmouse.com/
Description: A custom Bootstrap 3 theme using WP Layouts.
Version: 0.1
License: GNU General Public License
License URI: license.txt
Tags: bootstrap, _s, _strap

Based on _strap [https://github.com/ptbello/_strap], a mashup of _s [https://github.com/Automattic/_s] and Bootstrap [https://github.com/twitter/bootstrap]
*/

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset and dependencies
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/print.less";
@import "bootstrap/less/glyphicons.less";

// Core CSS
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/tables.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/buttons.less";

// Components
@import "bootstrap/less/component-animations.less";
@import "bootstrap/less/dropdowns.less";
@import "bootstrap/less/button-groups.less";
@import "bootstrap/less/input-groups.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/navbar.less";
@import "bootstrap/less/breadcrumbs.less";
@import "bootstrap/less/pagination.less";
@import "bootstrap/less/pager.less";
@import "bootstrap/less/labels.less";
@import "bootstrap/less/badges.less";
@import "bootstrap/less/jumbotron.less";
@import "bootstrap/less/thumbnails.less";
@import "bootstrap/less/alerts.less";
@import "bootstrap/less/progress-bars.less";
@import "bootstrap/less/media.less";
@import "bootstrap/less/list-group.less";
@import "bootstrap/less/panels.less";
@import "bootstrap/less/responsive-embed.less";
@import "bootstrap/less/wells.less";
@import "bootstrap/less/close.less";

// Components w/ JavaScript
@import "bootstrap/less/modals.less";
@import "bootstrap/less/tooltip.less";
@import "bootstrap/less/popovers.less";
@import "bootstrap/less/carousel.less";

// Utility classes
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/responsive-utilities.less";

// Font Awesome
@import "font-awesome/less/fontawesome.less";
@import "font-awesome/less/fa-solid.less";
@import "font-awesome/less/fa-regular.less";
@import "font-awesome/less/fa-brands.less";

// Hover
//@import "hover/less/hover.less";

// Animate
@import "animate/animate.less";


// WORDPRESS COMPATIBILITY STYLES
// ------------------
@import "bootstrap/_strap.less";

// Fonts
@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserat/montserrat-bold-webfont.eot');
    src: url('fonts/montserat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserat/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserat/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserat/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('fonts/montserat/montserrat-semibold-webfont.eot');
    src: url('fonts/montserat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/montserat/montserrat-semibold-webfont.woff') format('woff'),
         url('fonts/montserat/montserrat-semibold-webfont.ttf') format('truetype'),
         url('fonts/montserat/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans/opensans-regular-webfont.eot');
    src: url('fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Mixins
.cover-background(@image, @position: center center) {
    background-image: url(@image);
    background-position: @position;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.border-radius(@radius: 30px) {
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
.transition(@property: all ease-in-out .15s) {
    -webkit-transition: @property;
    -moz-transition: @property;
    -ms-transition: @property;
    -o-transition: @property;
    transition: @property;
}
.transform(@property) {
    -moz-transform: @property;
    -webkit-transform: @property;
    -o-transform: @property;
    -ms-transform: @property;
    transform: @property;
}

// General
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 20px;
}
.wp-block-image {
	margin-bottom: 30px;
}
b, strong {
	font-family: "montserratsemibold", Helvetica, Arial, sans-serif;
	font-weight: 400;
}
h1, .h1 {
	text-transform: uppercase;
}
h2, .h2 {
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
}
h3, .h3 {
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	position: relative;
	&:after {
		display: block;
		position: absolute;
		width: 30px;
		height: 4px;
		background: @brand-primary;
		content: "";
		bottom: -10px;
		left: 0;
	}
}
h4, .h4 {
	margin-top: 30px;
	margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    outline: none !important;
}
.btn {
	padding: 9px 20px;
	text-transform: uppercase;
	font-family: "montserratsemibold", Helvetica, Arial, sans-serif;
}
.margin_top_40 {
	margin-top: 40px;
}
.menu {
    list-style: none;
    padding-left: 0;
    li {
        padding-left: 0;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: inline-block;
        a {
        	text-decoration: none;
        }
    }
}
.social_media_links {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
    li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 0px;
        padding-left: 0;
        margin-bottom: 0;
        a {
            display: block;
            color: #cccccc;
            font-size: 20px;
            line-height: 20px;
            &:hover, &:focus {
                color: @brand-primary;
            }
        }
    }
}

// Forms
.form-control {
	//-webkit-box-shadow: none;
	.box-shadow(none);
}
textarea.form-control {
	resize: none;
	height: 200px;
}

// Header
#secondary_header {
	padding-top: 10px;
	padding-bottom: 8px;
	background-color: #1b1b1b;
	color: #cccccc;
	.header_info {
		font-size: 12px;
		ul {
			list-style: none;
			padding: 0;
			margin-bottom: 0;
			li {
				display: inline-block;
				padding: 0;
				margin-right: 20px;
				line-height: 20px;
				a {
					color: #cccccc;
					&:hover {
						text-decoration: none;
						color: @brand-primary;
					}
				}
				i {
					color: @brand-primary;
					margin-right: 10px;
				}
			}
		}
	}
}
#masthead {
    background: @brand-primary;
    .navbar-brand {
    	padding: 18px 0;
        .site-title {
            margin-top: 0;
            margin-bottom: 0;
            a {
                display: block;
            }
        }
    }
}
#site-navigation {
    margin-bottom: 0;
    .navbar-nav {
        > li {
            > a {
                text-transform: uppercase;
                font-family: "montserratsemibold", Helvetica, Arial, sans-serif;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

// Footer
.footer_row_1 {
	background: @brand-primary;
	color: #1b1b1b;
	padding-top: 30px;
	padding-bottom: 30px;
	p {
		text-transform: uppercase;
    	font-family: "montserratbold", Helvetica, Arial, sans-serif;
    	font-size: 16px;
    	color: #1b1b1b;
    	margin-bottom: 0;
    	line-height: 40px;
	}
	.footer_1_2 {
		text-align: right;
	}
}
.footer_row_2 {
	background-color: #1b1b1b;
	color: #ffffff;
	padding-top: 40px;
	padding-bottom: 70px;
	i {
		color: @brand-primary;
	}
	a {
		color: #ffffff;
		&:hover {
			color: @brand-primary;
			text-decoration: none;
		}
	}
	h3 {
		color: #ffffff;
		font-size: 18px;
		margin-bottom: 30px;
		text-transform: uppercase;
		&:after {
			display: none;
		}
	}
	.footer_2_1 {
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				display: block;
				position: relative;
				padding-left: 30px;
				margin-bottom: 20px;
				i {
					position: absolute;
					left: 0;
					top: 4px;
				}
				span {

				}
			}
		}
	}
	.footer_2_2 {
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 8px;
			li {
				display: block;
				border-top: 1px solid #363636;
				padding-top: 15px;
				margin-top: 15px;
				text-align: right;
				label {
					color: #acacac;
					float: left;
					font-weight: normal;
				}
				&:first-child {
					border-top: none;
					padding-top: 0;
					margin-top: 0;
				}
			}
		}
	}
	.footer_2_3 {
		.form-control {
			height: 34px;
		}
	}
	.footer_2_4 {
		.social_media_links {
			text-align: left;
			li {
				margin-left: 0;
				margin-right: 10px;
				a {
					color: #ffffff;
					font-size: 24px;
					line-height: 24px;
					i {
						color: #ffffff;
					}
					&:hover {
						color: @brand-primary;
						i {
							color: @brand-primary;
						}
					}
				}
			}
		}
	}
}
.footer_row_3 {
	background-color: #0f0f0f;
	color: #5a5a5a;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
	a {
		color: #5a5a5a;
		&:hover {
			color: @brand-primary;
			text-decoration: none;
		}
	}
	.menu {
		margin-bottom: 0;
		li {
			margin-right: 20px;
			a {
				color: #5a5a5a;
				&:hover {
					color: @brand-primary;
				}
			}
		}
	}
	p {
		margin-bottom: 0;
	}
	.footer_3_2 {
		text-align: right;
	}
}

// Body
.entry-header {
	background-color: #1b1b1b;
	.cover-background('img/banners/banner-general.jpg');
	min-height: 245px;
	padding-top: 105px;
	padding-bottom: 60px;
	.entry-title {
		margin: 0;
		color: @brand-primary;
		text-shadow: 0 0 4px #000000;
	}
}
.section {
    padding-top: 50px;
    padding-bottom: 70px;
}
.section_gray {
	background: #f1f1f1;
}

// Home
.home {
	.section {
		text-align: center;
	}
}
#carousel-home {
    .item {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: ~"calc(100vh - 127px)";
        color: #ffffff;
    }
    .carousel-caption {
	    position: absolute;
	    left: 15%;
	    right: 15%;
	    max-width: 800px;
	    top: 50%;
	    bottom: auto;
	    .transform(translateY(-50%));
	    z-index: 10;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    color: #fff;
	    text-align: left;
	    text-shadow: 0 0 2px rgba(0,0,0,.4);
	    font-size: 18px;
	    h2 {
	    	color: #1b1b1b;
	    	margin-top: 0;
	    	margin-bottom: 45px;
	    	padding: 20px 30px 18px 30px;
	    	background-color: @brand-primary;
	    	display: inline-block;
	    	text-shadow: none;
	    }
	    p {
	    	margin-bottom: 40px;
	    }
	    ul {
	    	color: @brand-primary;
	    	list-style: none;
	    	padding-left: 0;
	    	margin-bottom: 40px;
	    	li {
	    		color: @brand-primary;
	    		font-family: "montserratsemibold", Helvetica, Arial, sans-serif;
	    		&:before {
	    			font-family: 'Font Awesome 5 Free';
	    			content: "\f14a";
	    			display: inline-block;
	    			font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					margin-right: 10px;
	    		}
	    	}
	    }
	}
	.carousel-control {
		background: @brand-primary;
        position: absolute;
		top: 50%;
		left: 7.5%;
		.transform(translateY(-50%) translateX(-50%));
		bottom: 0;
		width: 50px;
		height: 50px;
		opacity: 1;
		filter: alpha(opacity=1);
		font-size: 20px;
		color: #fff;
		text-align: center;
		text-shadow: none;
		line-height: 50px;
        &.right {
        	left: auto;
            right: 7.5%;
			.transform(translateY(-50%) translateX(50%));
        }
        &:hover {
        	background: darken(@link-color, 15%);
        }
    }
}
.view_home_services {
	margin-top: 80px;
	h4 {
		margin-bottom: 30px;
	}
	.item {
		padding: 40px 20px 40px 20px;
		display: block;
		text-align: center;
		border: 2px solid #c2c2c2;
		margin-bottom: 30px;
		min-height: 210px;
		.icon {
			height: 64px;
			position: relative;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				.transform(translateY(-50%) translateX(-50%));
			}
		}
		h3 {
			font-size: 16px;
			margin-bottom: 0;
			margin-top: 25px;
			text-transform: none;
			&:after {
				display: none;
			}
		}
		&:hover {
			text-decoration: none;
			background: @brand-primary;
			border-color: @brand-primary;
		}
	}
}
#accred_row {
	img {
		margin-bottom: 30px;
	}
}

// Services
.page-id-10 {
	.section {
		text-align: center;
	}
}
.view_services {
	margin-top: 80px;
	h4 {
		margin-bottom: 30px;
	}
	.item {
		padding: 40px 20px 40px 20px;
		display: block;
		text-align: center;
		border: 2px solid #c2c2c2;
		margin-bottom: 30px;
		min-height: 295px;
		.icon {
			height: 64px;
			position: relative;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				.transform(translateY(-50%) translateX(-50%));
			}
		}
		h3 {
			font-size: 18px;
			margin-bottom: 20px;
			margin-top: 25px;
			text-transform: uppercase;
			&:after {
				display: none;
			}
		}
		p {
			color: @text-color;
			margin-bottom: 0;
		}
		&:hover, &:focus {
			text-decoration: none;
			background: @brand-primary;
			border-color: @brand-primary;
			p {
				color: #1b1b1b;
			}
		}
	}
}

// Contact page
#contact_page_details, .contacts_block_icon {
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
	li {
		margin-top: 30px;
		i {
			display: inline-block;
			height: 60px;
			width: 60px;
			line-height: 60px;
			border: 2px solid @brand-primary;
			text-align: center;
			margin-right: 20px;
			color: @brand-primary;
		}
		a {
			display: block;
			color: @text-color;
			&:hover {
				text-decoration: none;
				i {
					color: #ffffff;
					background: @brand-primary;
				}
			}
		}
	}
}
#contact_page_gray {
	h3 {
		margin-bottom: 50px;
	}
}
#map_row {
	height: 450px;
	overflow: hidden;
	p {
		margin-bottom: 0;
	}
}

// Single Service page
.services_menu {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			margin-bottom: 3px;
			a {
				display: block;
				background: #f1f1f1;
				padding: 35px 20px 30px 80px;
				position: relative;
				.icon {
					position: absolute;
					top: 50%;
					.transform(translateY(-50%));
					left: 26px;
					img {
						width: 32px;
					}
				}
				h4 {
					margin-top: 0;
					margin-bottom: 0;
				}
				&:hover, &.current {
					text-decoration: none;
					background: @brand-primary;
				}
			}
		}
	}
}
.single-service {
	.section {
		padding-top: 100px;
	}
	#menu-item-19 {
		a {
			color: #ffffff;
		}
	}
}
#brochure_block {
	margin-top: 30px;
	margin-bottom: 30px;
	.inner {
		background: #f1f1f1;
		padding: 30px;
	}
	h3 {
		margin-top: 0;
	}
}

// About
.bee_block {
	margin-top: 113px;
	position: relative;
	padding-left: 100px;
	&:before {
		position: absolute;
		content: url("img/about/icon_trophy.png");
		left: 0px;
		top: 2px;
	}
}
#performance_row {
	background: @brand-primary;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		display: block;
		z-index: 1;
		width: 50%;
		height: 100%;
		.cover-background("img/about/about_image.jpg");
	}
}
#performance_block {
	background: @brand-primary;
	position: relative;
	z-index: 2;
	color: #1b1b1b;
	padding-left: 60px;
	padding-top: 40px;
	padding-bottom: 60px;
	p {
		color: #1b1b1b;
	}
	h3 {
		font-size: 18px;
		margin-top: 30px;
	}
}
#ndt {
	position: relative;
	padding-left: 100px;
	&:before {
		position: absolute;
		content: url("img/about/icon_cert.png");
		left: 15px;
		top: 30px;
	}
}
#welding {
	position: relative;
	padding-left: 100px;
	&:before {
		position: absolute;
		content: url("img/about/icon_award.png");
		left: 15px;
		top: 30px;
	}
}
#numbers_row {
	background-color: #1b1b1b;
	.cover-background("img/about/numbers_row.jpg");
	padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    h2 {
    	font-size: 32px;
    	margin-top: 20px;
    	margin-bottom: 20px;
    	color: @brand-primary;
    }
    h4 {
    	color: #ffffff;
    	font-size: 16px;
    	margin-top: 20px;
    }
}

// Responsive
@media (max-width: @screen-xs-max) {
	h1, .h1 {
		font-size: 24px;
	}
	h2, .h2 {
		font-size: 22px;
	}
	h3, .h3 {
		font-size: 18px;
	}
	h4, .h4 {
		font-size: 14px;
	}
	.container {
		max-width: 450px;
	}
	#masthead .navbar-brand .site-title a {
		margin-top: 10px;
		img {
			width: 200px;
		}
	}
	#site-navigation .navbar-nav > li > a {
		text-align: center;
	}
	#secondary_header {
		display: none;
	}
	#carousel-home {
		.carousel-caption {
			font-size: 14px;
			h2 {
				padding: 15px 20px 13px;
				font-size: 18px;
				margin-bottom: 30px;
			}
			p, ul {
				margin-bottom: 30px;
			}
		}
		.carousel-control {
			width: 30px;
			left: 0;
			.transform(translateY(-50%));
			&.right {
				right: 0;
				.transform(translateY(-50%));
			}
		}
	}
	.footer_row_1 {
		p {
			line-height: 1.1;
		}
		.footer_1_2 {
			text-align: left;
			margin-top: 15px;
		}
	}
	.footer_row_3 {
		text-align: center;
		.footer_3_2 {
			text-align: center;
			margin-top: 15px;
		}
		.menu li {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.entry-header {
		min-height: 110px;
		padding-top: 42px;
		padding-bottom: 40px;
	}
	.section {
	    padding-top: 20px;
	    padding-bottom: 40px;
	}
	.bee_block {
		margin-top: 0;
		padding-left: 0;
		&:before {
			display: none;
		}
	}
	#ndt, #welding {
		padding-left: 15px;
		&:before {
			display: none;
		}
	}
	#performance_row {
		&:before {
			display: none;
		}
	}
	#performance_block {
		padding: 20px 15px 40px 15px;
	}
	#numbers_row {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.view_home_services .item, .view_services .item {
		min-height: auto;
	}
	.single-service .section {
		padding-top: 60px;
	}
	#contact_page_details li i, .contacts_block_icon li i {
	    height: 30px;
	    width: 30px;
	    line-height: 26px;
	    margin-right: 10px;
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	h1, .h1 {
		font-size: 30px;
	}
	h2, .h2 {
		font-size: 24px;
	}
	h3, .h3 {
		font-size: 20px;
	}
	h4, .h4 {
		font-size: 14px;
	}
	#masthead .navbar-brand .site-title a {
		img {
			width: 250px;
		}
	}
	#site-navigation .navbar-nav > li > a {
		padding-left: 15px;
		padding-right: 15px;
	}
	#carousel-home .carousel-caption {
		font-size: 14px;
	}
	.footer_row_3 {
		text-align: center;
		.footer_3_2 {
			text-align: center;
			margin-top: 15px;
		}
	}
	.bee_block {
		margin-top: 0;
	}
	#performance_row {
		&:before {
			display: none;
		}
	}
	#performance_block {
		padding-left: 15px;
		padding-right: 15px;
	}
	.view_services .item {
		min-height: auto;
	}
	.services_menu ul li a {
		h4 {
			font-size: 14px;
		}
	}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.view_home_services {
		.item {
			padding-top: 35px;
			padding-bottom: 35px;
		}
	}
	.view_services {
		.item {
			h3 {
				font-size: 16px;
			}
		}
	}
	.services_menu ul li a {
		h4 {
			font-size: 14px;
		}
	}
}